option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: elearning_project.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: elearning_project.settings.base
    PYTHONPATH: /var/app/current

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true